# Maven build output
/target/

# Compiled Java classes
*.class

# IDE files
/.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

target/classes/com/educompus/service/ServiceExam.class

# Clés Stripe — ne jamais commiter
src/main/resources/stripe/stripe.properties

# Clés Twilio — ne jamais commiter
src/main/resources/twilio/twilio.properties
